name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
jobs:
  test_Neuroblox:
    runs-on: [self-hosted, CI]
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.12.2'
      - uses: julia-actions/julia-buildpkg@v1
      - name: Run tests
        run: julia --project=. -e 'using Pkg; Pkg.test("Neuroblox"; julia_args=["-O1"])'
        env:
          REFERENCE_TESTS_STAGING_PATH: '${{ github.workspace }}/test/plots-staging/'
      - name: Make PR if reference tests changed
        if: always()
        uses: ./.github/actions/create-update-pr
        with:
          github-token: ${{ github.token }}
          commit-message: 'Update generated images from CI'
          pr-title-prefix: 'Update reference images ${{ github.job }}'
          branch-prefix: 'update-images-${{ github.job }}'
          reference-path: 'test/plots/'
          reference-staging-path: 'test/plots-staging/'
